{% load fullcalendar_tags %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% fullcalendar_css %}
        {% fullcalendar_print_css %}
        {% fullcalendar_jquery %}
        {% fullcalendar_jquery_ui %}
        {% fullcalendar_javascript %}

        {% calendar_init calendar_config_options %}
    </head>
    <body>
        <!-- Add your site or application content here -->        

        {% block content %}

        {% endblock %}
    </body>
</html>